/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/algo.exe
/cmake-build-debug/algo.ilk
/cmake-build-debug/algo.pdb
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-b5809f8b8dfdc4676073.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-45b0ab941e5150a864b9.json
/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-24075d1a6b230d2e7506.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/CMakeFiles/algo.dir/embed.manifest
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/.cmake/api/v1/reply/index-2024-02-21T19-37-57-0872.json
/cmake-build-debug/CMakeFiles/algo.dir/intermediate.manifest
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/algo.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug/CMakeFiles/algo.dir/manifest.rc
/cmake-build-debug/CMakeFiles/algo.dir/manifest.res
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-algo-Debug-f83b9d50ae635bb40511.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ef494be2aec96245069d.json
/cmake-build-debug/CMakeFiles/algo.dir/vc140.pdb
